# Core
numpy==1.26.4
pandas==2.2.2
python-dotenv==1.0.1

# Visualization
matplotlib==3.8.4
pillow==10.3.0

# Web
flask==3.0.3
gunicorn==21.2.0

# Computer Vision
opencv-contrib-python==4.9.0.80

# Machine Learning
tensorflow==2.16.1
keras==3.3.3
scikit-learn==1.4.2
h5py==3.11.0

# NLP
nltk==3.8.1
vaderSentiment==3.3.2
